@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes:
		light --default,
		dark --prefersdark;
}

@theme {
	--font-sans:
		'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--font-serif: 'Erode', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-handwriting: 'Caveat', ui-sans-serif, system-ui, sans-serif;
	--font-mono: 'Courier New', Courier, 'Liberation Mono', 'DejaVu Sans Mono', monospace;
}

html,
body {
	@apply bg-white dark:bg-gray-950;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}
